.error {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-code {
        font-weight: 700;
        font-size: 288px;
        color: $color-font-primary;
        margin: 150px auto 40px auto;
    }

    &-message {
        font-weight: 500;
        font-size: 36px;
        color: $color-font-primary;
        margin-bottom: 180px;
        margin-top: 0;
        br {
            display: none;
        }
    }

    &-backlink {
        font-weight: 500;
        font-size: 18px;
        color: $color-font-primary;
        margin-bottom: 180px;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .error {
        &-code {
            font-size: 96px;
            margin-bottom: 5%;
        }

        &-message {
            width: 100%;
            font-size: 18px;
            margin-bottom: 130px;
            margin-top: 0;
            text-align: center;

            br {
                display: block;
            }
        }

        &-backlink {
            font-size: 14px;
            margin-bottom: 100px;
        }
    }
}