//Fonts
$font-primary: 'Montserrat', sans-serif;

//Responsive design breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet-min: 376px;
$breakpoint-tablet-max: 1439px;
$breakpoint-desktop: 1440px;

//Colors
$color-font-primary: #FF6060;
$color-background-primary: #FF6060;
$color-font-footer: white;
$color-background-footer: black;

//Background colors
$color-lighter-gray: #F6F6F6;
$color-darker-gray: #C4C4C4;