.body-container {
    width: 100%;
    //width: $breakpoint-desktop;
    margin: 40px auto 40px auto;

    nav {
        width: 80%;
        margin: auto;
    }

    main {
        width: 80%;
        margin: auto;
    }
  }
  
  @media only screen and (max-width: $breakpoint-mobile) {
    .body-container {
        width: 100%;
        margin: auto;
        margin-top: 5%;
    }
}